.photography{
margin-top:10rem;
margin-left:8%;
margin-right:8%;

}
.photography p{
    max-width: 906px;
    
}
.photography span{
    font-family: Jost;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#CDA274;   
}