.result{
    margin-top:10rem;
    margin-left:8%;
    margin-right:8%;

}
.res-concept{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin-top:5rem;
}
.res-sub{
    display:flex;
  flex-direction:column;
}
.res-sub p{
    max-width: 500px;
    
}
@media (max-width: 700px) {
    .res-concept .res img{
margin-top:1.5rem;
height:18rem;
    }
}
