.prof-banner{
    background-image: url('../../../img/profb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 356px;
    max-width:100%;
}