.profsingle-banner{
    background-image: url('../../../img/Images@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 356px;
    max-width: 100%;
}